@using Models
@model List<Group>
@using Application.Controllers.ViewComponents
@using Application.Controllers.Services
@inject RepositoryService<Group> GroupServices


<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#create-group" data-url="@Url.Action("CreateGroupModal")">
    Créer un Groupe
</button>
<div id="modal-placeholder"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                Etudiant
            </th>
            <th>
                Cours
            </th>
            <th>
                Professeur principal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Students.Count()
                </td>
                <td>
                    @item.Courses.Count()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeRoomTeacher.LastName)
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#edit-group" data-url="@Url.Action("EditGroupModal","Profile",new { GroupID = item.GroupID.ToString() })">
                        Modifier
                    </button>
                    <a asp-action="Delete" asp-route-id="@item.GroupID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
