@using Models
@model List<Course>
@using Application.Controllers.Services
@inject RepositoryService<Course> coursesService
@inject RoleService roleService
@{
    Role role = await roleService.GetRoleAsync(User);
}
<div id="modal-placeholder"></div>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            @if (role != Role.Teacher)
            {
                <th>Professeur</th>
            }
            <th>Matière</th>
            <th>Salle</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @if (await roleService.GetRoleAsync(User) != Role.Teacher)
                {
                    <td>
                        Mr/Mme. @Html.DisplayFor(modelItem => item.Teacher.LastName)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.SubjectID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Classroom.ClassroomID)
                </td>
                <td>
                    @if (await roleService.GetRoleAsync(User) == Role.Admin)
                    {
                        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#list-grades" data-url="@Url.Action("ListGradesModal", item)">
                            Notes
                        </button>
                        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#edit-course" data-url="@Url.Action("EditCourseModal", item)">
                            Modifier
                        </button>
                        <a asp-action="Delete" asp-route-id="@item.CourseID">Supprimer</a>
                    }
                    else if (await roleService.GetRoleAsync(User) == Role.Teacher)
                    {
                        @* V to popups V *@
                        <a asp-action="Edit" asp-route-id="@item.CourseID">Absences</a>
                        <a asp-action="Delete" asp-route-id="@item.CourseID">Notes</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
