@using Models
@model List<Course>
@using Application.Controllers.Services
@inject RepositoryService<Course> coursesService
@inject RoleService roleService
@{
    Role role = await roleService.GetRoleAsync(User);
}
@if (role == Role.Admin){
    <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#edit-course" data-url="@Url.Action("CreateCourseModal")">Créer un Cours</button>
}
<div id="modal-placeholder"></div>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            @if (role != Role.Teacher)
            {
                <th>Professeur</th>
            }
            <th>Matière</th>
            <th>Salle</th>
            <th>Classe</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Date
                </td>
                @if (await roleService.GetRoleAsync(User) != Role.Teacher)
                {
                    <td>
                        Mr/Mme. @item.Teacher.LastName
                    </td>
                }
                <td>
                    @item.Subject.SubjectID
                </td>
                <td>
                    @item.Classroom.ClassroomID
                </td>

                <td>
                    @foreach (Group i in item.Groups)
                    {
                        <div>@i.GroupID</div>
                    }
                </td>


                <td>
                    @if (role != Role.Student)
                    {
                        <button type="button" class="btn btn-warning" data-toggle="ajax-modal" data-target="#edit-missing" data-url="@Url.Action("EditMissingModal", item)">
                            Absences
                        </button>
                        <button type="button" class="btn btn-secondary" data-toggle="ajax-modal" data-target="#list-grades" data-url="@Url.Action("ListGradesModal", item)">
                            Notes
                        </button>
                    @if (role == Role.Admin)
                    {
                        <button type="button" class="btn btn-secondary" data-toggle="ajax-modal" data-target="#edit-course" data-url="@Url.Action("EditCourseModal", item)">
                            Modifier
                        </button>
                        <button type="button" class="btn btn-danger" href="#modal-placeholder">
                            Supprimer
                        </button>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
