@model Models.Student
@using Application.Controllers.Services
@using Models



<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
    </dl>
</div>
@{  
    double listeNotes = 0;

    var courses = Model.Grades.Select(g => g.Course).ToList();
    var coursesStudent = Model.Group.Courses;

    var teacherEmpty = new Models.Teacher();

    var gradesBySubjects = Model.Grades.GroupBy(g => g.Course.SubjectID);

    var teachers = new List<Teacher>();

    foreach (var gradesBySubject in gradesBySubjects)
    {   
        <hr />
        <h4>
            @gradesBySubject.Key

        </h4>
        <p>
                   @foreach (var course in courses.Where(c=>c.SubjectID == @gradesBySubject.Key))
                   {
                       foreach (var courseStudent in coursesStudent)
                       {
                           if(course.Teacher == courseStudent.Teacher)
                           {
                               teacherEmpty = course.Teacher;
                           }
                       }

                   }
                   Teacher : @teacherEmpty.LastName
            
        </p>
         
        <table>
            <tr>
                <th>Date</th>
                <th>Grade</th>
                <th>Assessment</th>
                <th>Teacher</th>
            </tr>
            @foreach (var grade in gradesBySubject)
            {
                <tr>
                    <td>@grade.Course.Date.ToShortDateString()</td>
                    <td>@grade.Value</td>
                    <td>@grade.Assessment</td>
                    <td>@teacherEmpty.LastName</td>
                    

                </tr>
                listeNotes += grade.Value;
            }
        </table>
        <br />
        <p> Average : @String.Format("{0:0.00}", (listeNotes / gradesBySubject.Count()))</p>
        listeNotes = 0;
        <br/>
    }
}
<div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
